
// din-RegularAlternate fonts
@font-face {
    font-family: 'din-RegularAlternate';
    src: url('assets/fonts/DIN-RegularAlternate/DIN-RegularAlternate.eot');
    src: url('assets/fonts/DIN-RegularAlternate/DIN-RegularAlternate.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/DIN-RegularAlternate/DIN-RegularAlternate.woff') format('woff'),
         url('assets/fonts/DIN-RegularAlternate/DIN-RegularAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}