
// button
button, input[type="submit"]{
    font-family: 'avantgardef';
    padding:10px 25px;    
    &.send--button{
        float:right;
        color:#fdfdfc;
        letter-spacing: 2px;
        background:#8c8c88;
        border:1px solid #4c4c4a;
        font-weight: bold;
        margin:10px 0 0 0;
        &:hover{
            background:#4c4c4a;
        }
    }
}
/** responsive **/

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {     
}