
// footer

div.footer__wrapper{
  width: 100%;
  background:#e1e1e1;
  text-align: center;
    .footer{ 
      margin:0 auto;
      padding:6px 0 6px 0;
      @include flex();
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .footer__left{
      }
      .footer__right{
      }
    }
}

nav{
  .menu__footer{
    li{
      position:relative;
      margin:4px 30px 0 0;
      &:before{
        content:"|";
        position: absolute;
        top:0px;
        right:-15px;
        font-size: 12px;
        color:#676767;
      }
      &:last-child{
        margin:4px 0 0 0;
        &:before{
          display: none;
        }
      }
      a{
        &:hover{
          small{
            color:#999;
          }
        }
      }      
    }
  }
}


/** responsive **/

/* (0px above)----------- */
@media only screen
and (min-width : 0px) {
  .footer{
    -webkit-justify-content: center;
    justify-content: center;
    .footer__left,.footer__right{
      width:100%;
    }
  }
  .menu__footer{
    -webkit-justify-content: center;
    justify-content: center;
  }
}

/* (480px above)----------- */
@media only screen
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen
and (min-width : 1024px) {
  .footer{
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .footer__left,.footer__right{
      width:50%;
    }
    .footer__right{
      text-align: right;
    }
  }
  .menu__footer{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}

/* (1360px above)----------- */
@media only screen
and (min-width : 1360px) {
}

/* (1900px above)----------- */
@media only screen
and (min-width : 1900px) {
}