form {	
}

input,form,select,textarea {
	
	&[disabled] {
		opacity: .5;
		cursor: not-allowed;
	}
}
input, textarea,select {
	max-width: 100%;
	background-color:#f4f4f4;
	color:#929292;		
	padding:4px 8px;
	border: 1px solid #e5e5e5;
	border-radius:1px;
	vertical-align: middle;
	font-size:22px;
	// font-style: italic;
	letter-spacing:0.5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 		
	&:active,&:focus {
		outline:none;
	}
	option{
		color:#959595;
		background:rgba(237,237,237,0.9);
		border-top:0;
		border-right:0;
		border-left:0;
		border-bottom:1px solid rgba(235,235,235,0.9);
		border-radius:4px;
	}
}

//////// form style
form{
	.form__wrapper{
		@include flex();
		&.form__wrapper--comment{
			input{
				width:49%;
				margin:0 2% 15px 0;
				&:last-child{
					margin:0 0 15px 0;
				}
			}
			textarea{
				width:100%;
			}
		}
		label{
			@extend h2;
			position:relative;
			color:#929292;
			line-height: normal;
			font-weight: bold;
			margin:0;
			// width:30%;
			// height:40px;		
		}		
		input{
			// width:67%;
			height:40px;
			margin:0 0 15px 0;
			&.error{
				border:2px solid #c6202b;
			}
		}
		textarea{
			// width:67%;
			margin:0 0 15px 0;
			padding: 10px 5px !important;
			&.error{
				border:2px solid #c6202b;
			}
		}
		.verify{
			position:relative;
			margin-right:70px;
			&:before{
				content: "+ 3 = 5";
				position: absolute;
				color:#929292;
				font-weight: bold;
				top: 4px;
				right: -80px;
				font-size: 20px;
				width:70px;
			}
		}
	}	
}
#respond{
	position:relative;
	padding:5px 0 0 0;
	font-size: 16px;
}
.error{
	width:100%;
	top:0;
	left:0;
    padding: 5px 0;
    margin:0 0 15px 0;
    border-bottom: 1px solid red;
    text-align: right;
    color: red;    
}
.success{
	@extend .error;
    border-bottom: 1px solid green;
    text-align: right;
    color: green;
}
form span{
    color: red;
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	label{
		width:100%;
	}
	label, input, textarea{
		width:100%;
	}
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
	label{
		width:30%;
		height:40px;
	}
	input, textarea{
		width:67%;
	}
	input[type="submit"]{
		width:inherit;
	}
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen
and (min-width : 1024px) {
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {  
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}