/* icons */

.ico_vision{
    display: inline-block;
    width:124px;
    height:88px;
    background: url('assets/images/vision.png') no-repeat;
}

/** responsive **/
/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
    #hamburger--icon{
        @include scale (0.4);
    }
}
/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
}