
html, body{
    font-family: 'din-RegularAlternate';
    font-size: 100%;
    font-weight: normal;    
}
h1 {
    color: #01b8ce;
    font-size: 40px;
    font-weight: bold;
    // letter-spacing: 1px;
    margin:-8px 0 15px 0;
    padding:0 0 0 0;
}
h2 {
    color:#676767;
    // color: white;
    font-size: 30px;
    // letter-spacing: 1px;
    font-weight: normal;    
    line-height: 34px;
    margin:10px 0 0 0;
    padding:0 0 0 0;
}
h3 {
    color: #676767;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin:0 0 15px 0;
    padding:0 0 0 0;
    &.thin{
        font-weight: normal;
        letter-spacing: 0;
    }
}
h4 {
    color: #676767;
    font-size: 18px;
    font-weight: bold;
    // margin:0 0 0 0;
    // padding:0 0 0 0;
}
h5 {
    // color: $abuabutext2;
    font-size: 16px;
    font-weight: normal;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
p {
    font-size: 20px;
    line-height:20px;
    // color:#76787A;
    // letter-spacing: 0.3px;
    // margin:0;
    // text-shadow:
    // 0 0 0px #eeeeee, 0 0 0px #eeeeee, 
    // 0 0 0px #eeeeee, 0 0 0px #eeeeee,
    // 0 0 0px #eeeeee, 0 0 0px #eeeeee;
}
small {
    font-size: 12px;
    color:#676767;
    font-weight:700;
     // &.small__footer{
     //    font-size: 14px;
     //    color:#676767;
     //    font-weight:700;
     // }
}
a{
    font-size: 12px;
    text-decoration:none;
    &:hover {
        // color: #7bb9f1;
    }
}
label{
    font-size: 12px;
    color:#000;
}
article {
    text-align: left;
    small{
    }
    p {        
    }
}
ul{
    list-style: none;
    padding:0;
    margin:0;
    li{}
}
nav{
    ul{
        @include flex();
        padding:0;
        margin:0;
        li{}
    }
}
blockquote{
    position:relative;
    margin: 20px 0px;
    padding:5px 30px;
    text-align: center;
    &:before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:24px;
        height:17px;
        background: url(assets/images/quote_left.png) no-repeat;
    }
    &:after{
        content:"";
        position: absolute;
        bottom:0;
        right:0;
        width:24px;
        height:17px;
        background: url(assets/images/quote_right.png) no-repeat;
    }
    h2{
        color:#fbaf05;
    }
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {  
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {  
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}

