
// information page
.information{
	display: block;
	.information__left{
		float:left;
		// width:44%;
		margin:0 4% 0 0;
		img.information__left--img{
			min-width:100%;
		}
	}
	.information__right{
		float:left;
		// width:52%;
		text-align:left;
		p{
			letter-spacing: 0.9px;
		}
	}
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
	.information__left{
		display: none;
	}
	.information__right{
		width:100%;
	}
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
	.information__left{
		display: inline-block;
		width:44%;
	}
	.information__right{
		width:52%;
	}
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
}

/* (1900px above)----------- */
@media only screen 
and (min-width : 1900px) {
}